/vendor/
node_modules/

.env

# Ignore all files in these directories
public/img/posts/*
public/img/users/*

# But keep the index.php files
!public/img/posts/index.php
!public/img/posts/default.png
!public/img/users/index.php
!public/img/users/default.png
